.banner{
    
    width: 100%;
    height: 100px;
}
.nav{
   
    width: 100%;
    height: auto;
}
.footer{
    border: blue solid 1px ;
    width: 100%;
    height: 250px;
}
.form {
    float:left;
    margin-top: 32px;
    position:relative;
}
.cf:before, .cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:0;
}

.form-wrapper input {
    background: #eee;
    border-radius: 3px 0 0 3px;
    border: 0;
    float: left;
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';height: 12px;
    padding: 10px 5px;
    width: 150px;
    }
.form-wrapper input:focus {
    background: #fff;box-shadow: 0 0 2px rgba(0,0,0,.8) inset;outline: 0;
}
.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-style: italic;
    font-weight: normal;
}
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-style: italic;
    font-weight: normal;
}
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-style: italic;
    font-weight: normal;
}
.form-wrapper button {
    background: #d83c3c;
    border-radius: 0 3px 3px 0;
    border: 0;
    color: #fff;
    cursor: pointer;
    float:none ;
    font: bold 12px 'lucida sans', 'trebuchet MS', 'Tahoma';
    height: 32px;
    overflow: visible;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    text-transform: uppercase;
    width: 80px;
}
.form-wrapper button:hover {
    background: #e54040;
}
.form-wrapper button:active,.form-wrapper button:focus {
    background: #c42f2f;
    outline: 0;
}
.form-wrapper button:before {
    content: '';
    border-color: transparent #d83c3c transparent;
    border-style: solid solid solid none;    
    border-width: 8px 8px 8px 0;
    left: -6px;
    position: absolute;
    top: 8px;
}
.form-wrapper button:hover:before {
    border-right-color: #e54040;
}
.form-wrapper button:focus:before,
.form-wrapper button:active:before {
    border-right-color: #c42f2f;
}
.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.yazi{
    margin-top: 15px;
    float: left;
    margin-left: 75px;
    margin-right: 75px;
}
.logo {
    display: inline-block;
    float: left;
    margin-left: 125px;
}
.menü{
    float: left;
    list-style: none;
    display: block;
    margin: 0px;
    margin-top: 35px;    
}
.menü li{
    float:left;
        position: relative;
        display: inline;
        margin-left: 95px;
        padding: 0px;
        font-size: 22px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    
a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.671);
    }
      
 a:hover {
     /* Üzerine Geldiginde */
        color:rgba(16, 16, 116, 0.863);
        text-decoration: none;
    }
      
      
a:active {
    /* Tıkladığı Anda*/
        color: rgba(13, 13, 49, 0.705) ;
        
    }
.icerik-resim{
    
    width:98%;
    height: 100px;
    margin: 10px;

    
}
.icerik{

    width: 1000px;
    height: 100½;
    margin-left: 165px;
    margin-bottom: 10px;
}

h4,h2{
    text-align: center;
    color: rgba(0, 0, 0, 0.671);
    font-size:30px;
    font-family: Modum, Fenix STD, Novello;

}
h4{
    font-size: 23px;
    text-align: left;
}
p {
    font-size: 20px;
    text-align:left ;
    color: rgba(0, 0, 0, 0.836);
}
.footer-caner1{background-color:#ffffff;box-shadow:0 1px 1px 0 rgba(0,0,0,0.12);box-sizing:border-box;width:100%;text-align:left;font:normal 16px sans-serif;padding:45px 50px;margin-top:80px}
.footer-caner1 .footer-left p{color:#535353;font-size:10px;margin:0}
.footer-caner1 p.footer-links{font-size:18px;font-weight:700;color:rgb(180, 175, 175);margin:0 0 10px;padding:0}
.footer-caner1 p.footer-links a{display:inline-block;line-height:1.8;text-decoration:none;color:inherit}
.footer-caner1 .footer-right{float:right;margin-top:6px;max-width:180px}
